body{
  background-color: #eeeeee;

}

.page{
  position: relative;
}


.subjectTree{
  position: absolute;
  left: 0px;
  width: 300px;
}

.subjectPage{
  margin-left: 325px;
}






.itemNode {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.itemTitleBar{
  background-color: #d0d0d0;
  display: block;
  padding: 3px;

}

.itemInfoSection{
  display: block;
  background-color: #dddddd;
  padding: 3px;
  margin-top: 0px;
  margin-left: 10px;

}

.itemInfo{
  display: block;

}

.togleContains{
  display: block;
  border-top: 3px solid #dddddd;
  background-color: #E3E3E3;
  border-bottom: 3px solid #E8E8E8;
  height: 9px;

  margin-top: 2px;
  margin-left: 10px;


}

.nodeContains{
  display: block;
  margin-left: 10px;
}




.itemTypeGalaxy{
  background-color: #f5d7f6
}

.itemTypeSystem{
  background-color: #eecc99
}

.itemTypePlanet{
  background-color: #dddddd
}

.itemTypeFacility{
  background-color: #7a7a7a
}




.pageTitleBar{
  border-bottom: 1px solid #aaa;
}
